.updateItem {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background:   rgba(255, 255, 255, 0.733);
    width: 45%; 
    max-width: 10000px; 
    padding: 1rem; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 2rem auto; 
}

.updateItem_form {
    width: 90%; 
    margin: 0 auto; 
    padding: 1rem; 
    background:none;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem; 
    text-align: center; 
    background-color:none; 
    padding: 0.5rem; 
    border-radius: 5px; 
}


.updateitem_input-group {
    display: flex;
    align-items: left; 
    margin-bottom: 1rem; 
    width: 100%; 
    
}


.updateitem_input-label {
    font-size: 1.1rem;
    font-weight: bold;
    width: 200px; 
    text-align: right;
    margin-top:0.5rem;
}


.updateitem_input-box,
select {
    width: 110%; 
    max-width:1000px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    background:#f0ecec;
}


.updateitem_button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: rgb(160, 14, 14);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem; 
    margin-left:10rem;
}

.updateitem_button:hover {
    background-color: rgb(91, 26, 28);
}


p {
    color: green;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center; 
}
